* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cascadia Code-Bold", Helvetica;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #ffffff;
}

.selecionarEventos {
  background-color: #135D9F;
  display: flex;
  flex-direction: column;
}

.selecionarEventos .div {
  display: flex;
  justify-content: space-around;
  background-color: #135D9F;
}

.selecionarEventos .ativo {
  display: flex;
  width: 133px;
  height: 32px;
  object-fit: cover;
  position: relative;
  right: 10%;
  margin-top: 3%;
  
}

.selecionarEventos .component {
  display: flex;
  background-color: #135D9F;
  color: white;
  justify-content: space-between;
  gap: 15%;
  margin-top: 1%;
}
.wrapper:nth-child(2) {
  padding-left: 8%
}
.wrapper:nth-child(3) {
  padding-left: 4%
}
.selecionarEventos .wrapper {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selecionarEventos .div-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
}

.selecionarEventos .text-wrapper {
  font-family: "Cascadia Code-Bold", Helvetica;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.Carousel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.Carousel {
  position: relative;
  width: 70%;
  height: 70%;
}

.Carousel-card {
  position: absolute;
  width: 50%;
  height: 90%;
  border-radius: 80px;
  overflow: hidden;
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.Carousel-card.center {
  left: 50%;
  top: 50%;
  height: 100%;
  transform: translate(-50%, -50%) scale(1) rotateY(0);
  z-index: 3;
  filter: none;
}

.Carousel-card.left {
  left: 7%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.65) rotateY(20deg);
  z-index: 1;
  filter: blur(2px);
}

.Carousel-card.right {
  left: 93%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.65) rotateY(-20deg);
  z-index: 1;
  filter: blur(2px);
}

.arrow-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 30px;
}

.arrow-bottom {
  width: 40px;
  height: 40px;
  cursor: pointer;
}


.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.titulo-evento {
  font-family: "Cascadia Code-Bold", Helvetica;
  font-weight: 700;
  font-size: 25px;
  color: white;
  margin-bottom: 20px;
}
